.login-wrapper {
  .login-box {
    margin: 20% 0;
  }
  .login-title {
    font-size: 4rem;
    font-weight: 700;
  }
  .login-btn {
    font-size: 1rem;
    font-weight: 500;
    color: #fff;
    padding: 0.75rem 1rem;
  }
}
